<h1 class="display-4 py-3 mb-3 border-bottom"></h1>
Choose an Icon!

<div class="row"
<ol>
    <%- all_icons.each do |icon| -%>
    <li>
        <div>
        <i class='fas fa-fw fa-<%= icon %> fa-5x '></i>
    </div>
    </li>
    
  <%- end -%>
</ol>
</div>
