<a href="#" class="nav-link active" aria-current="page">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
    Home
  </a>

  <a href="#" class="nav-link link-dark">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
    Dashboard
  </a>