<h1 class="display-4 py-3 mb-3 border-bottom"></h1>
The purpose of this program is to store and delete projects! By using HBC clusters, the user will be able
to input blend files, projects, number of CPUs, a range of frames to be rendered, and a wall time to be able to 
render frames using the functions of OSC's supercomputer.